.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  &__content {
    width: 100%;
    @media (min-width: 900px) {
      width: 1900px;
    }
  }
}
