.about {
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  background-color: $color-dark;
  overflow: hidden;
  position: relative;
  font-family: $font-secondary;
  padding-bottom: 50px;

  @media (min-width: 900px) {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 1175px;
    }
  }

  &__content {
    color: $color-white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 80px;

    @media (min-width: 900px) {
      width: 55%;
      margin-top: 60px;
    }
  }

  &__title {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    color: $color-white;
    border: 1px solid $color-white;
    font-weight: 300;
    letter-spacing: 2px;
    top: -35px;
    text-transform: uppercase;
  }

  &__heading {
    font-size: 32px;
    font-family: $font-primary;
    letter-spacing: 1px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
    letter-spacing: 1px;

    @media (min-width: 900px) {
      font-size: 15px;
    }

    & span {
      background-color: $color-white;
      color: $color-dark;
      font-weight: 700;
      display: inline-block;
      padding: 2px 5px;
    }
  }

  &__images {
    margin-top: 50px;

    width: 100%;

    @media (min-width: 900px) {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
    }
  }

  &__image {
    background-image: url("../images/about1.jpg");
    height: 450px;
    width: 100%;
    background-size: cover;

    @media (min-width: 900px) {
      height: 550px;
      width: 400px;
    }
  }
}
