.header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $color-white;
  box-shadow: -2px 0px 13px -8px $color-dark;
  z-index: 1000;

  &__wrapper {
    width: 1175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  &__btn {
    background-color: $color-white;
    border: none;
    font-size: 30px;
    display: flex;

    @media (min-width: 900px) {
      display: none;
    }
  }
}
