@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Light";
  src: url(/fonts/Poppins-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Barlow-Regular.woff2) format("woff2");
}
